* {
    box-sizing: border-box;
    padding: 25px;
    }

body {
    max-width: 500px;
    justify-content: left;
    align-content: left;
    padding-left: 50;
    padding-right: 50;
    padding-top:0;
    padding-bottom: 0;
    margin: 0 auto;

    background-image: linear-gradient(to right,black,black,black,black,magenta);
      
    background-size: cover;
    }



h1 {
    color: white; 
    text-align: left;
    font-family: 'Eurostile', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: transparent(255, 255, 255, 0);
    
   }

#artists{
    justify-content: left;
    align-content: left;
    align-items: left;
    display: flex;

    }

#directions {
    justify-content: left;
    align-items: left;
    display:flex;
    }

#facebook {
    justify-content: left;
    align-items: left;
    display:flex;
    }

h3 { 
    display: flex;
    color: white;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: transparent(255, 255, 255, 0);        
    padding: 0px;
    margin-right: 20px;
    }




p {
    display: flex;
    align-content: left;
    color: white;
    text-align: left;
    font-family: 'Eurostile', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: transparent(255, 255, 255, 0);        
    padding: 0px;
    margin-bottom: 0;
    margin-top: 10px;
    }

.image1 {
    display: flex;
    justify-content: left;
    caption-side: bottom;
    max-width: 500px;
    caption-side: bottom;
    align-content: left;
    margin-bottom: -30px;
    margin-top: -30px;
    padding: -opx;
   
    }

    .poster {max-width: 500px;}


.image2 {
    display: flex;
    max-width: 500px;
    caption-side: bottom;
    align-content: left;
    justify-content: left;
    margin-bottom: -30px;
    margin-top: -30px;
    padding: -opx;
    }

    .QDweb {width:25%}
    .Goetiaweb {width: 50%}
    .Industriesweb [data-caption="Photo by Norrisette"]
        


.image3 {
    display: flex;
    justify-content: center
    }
